<a href="/edit">
    <img src="{{image}}" id="it-me" class="profilepic" width=100% alt="">
</a>

<h3 class="welcome-msg">Welcome {{name}}!</h3>

    <button type="button" id="msg-btn" class="btn msg-alert mypopover" data-toggle="popover" data-placement="bottom" title="Hey! Look!" data-content="You Have a Message" onclick="window.location.href='/inbox'"><span id="unread">{{#if unread}}{{unread}}{{/if}}</span> Messages for You</button>


<br>