
                    <form class="message-form">
                        <div class="form-group">
                            <label for="newmessage">New Message</label>
                            <textarea class="form-control" id="bio" rows="4" placeholder="send a message to your match"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </form>