
                <div class="row ">
                    <div class="col-sm-10 {{send-recieve}}>
                        <div class="well">
                            <p>{{text}}</p>
                        </div>
                    </div>
  
                </div>